*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    min-height: 100vh;
    background-color: #D1D7D5;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

p{
    line-height: 150%;
    font-size: 16px;
}

/*-------------------------------NAV------------------------------------------------------------------------------------------ */

.navbar {
    background-color: #0B1132;
    text-align: center;
    padding: 20px 0;
}


.navbar h1 {
    color: #5C7FB7;
    margin: 0;
    font-size: 32px;
}

.subtitles {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.subtitles h2 {
    margin: 0 20px; 
    font-size: 24px;
}

nav a{
    height: 100%;
    padding: 0 60px;
    text-decoration: none;
    color: #5C7FB7;
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

}

nav h2 a.active{
    color: #f18c00;
}

a:hover{
    text-decoration: none;
    color: #f18c00;
    transition: 0.5s;
}


/* -----------------------TITLEPAGE------------------------------------ */

.title_page{
    color: #0B1132;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 -40px 0;
}

.title_page .stadia {
    margin-left: 10px;
    margin-top: 10px;
    transition: transform 0.5s ease-in-out, filter 0.3s ease-in-out;
}


.stadia:hover{
    transform: rotate(360deg);
    filter: invert(40%) sepia(100%) saturate(550%) hue-rotate(360deg);
}



/* -----------------------CARDS------------------------------------ */

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    color: #D1D7D5;
}

.card-container h2{
    color: #5C7FB7;
}

.card-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.card{
    width: 550px;
    background-color: #0B1132;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    transition: transform 0.6s ease;
}

.card:hover{
    transform: translateY(-15px);
}

.card-content{
padding: 40px;
}

.card-content h2{
    font-size: 24px;
    margin-bottom: 10px;
}

.card-content p{
    line-height: 150%;
    font-size: 16px;
    margin-bottom: 20px;
}

.card-button{
    display: inline-block;
    text-decoration: none;
    background-color: #5C7FB7;
    color: #0B1132;
    padding: 8px 16px;
    border-radius: 4px;
}

.card-button:hover{
    background-color: #f18c00;
    color: #0B1132;
    transition: 0.5s;

}



.game-container{
    justify-content: center;
    align-items: center;
    margin: 30px 50px 50px 50px;
}


/*-----------------------------BOARDGAMES------------------------*/


.container-boardgame {
    text-align: center;
    height: 600px;
}

.animated-text {
    margin-top: 250px;
    font-size: 4rem;
    color: #0B1132;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.dots{
    color:#0B1132;
}

.dots::after {
    content: '';
    position: absolute;
    animation: dots 2.5s steps(1, end) infinite;
    color:#0B1132;
}


@keyframes dots {
    0%, 25% {
        content: '';
    }
    50% {
        content: '.';
    }
    75% {
        content: '..';
    }
    100% {
        content: '...';
    }
}

/*-----------------------------AVARICE-----------------------------------------------*/


/*-----------------------------GUNNY-----------------------------------------------*/




/*-----------------------------SILENT-WISPER-----------------------------------------------*/


/*-----------------------------SPLITTING-----------------------------------------------*/


.video-container {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Rendi il video responsivo */
.video-container iframe {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}


.container_splitting {
    max-width: 800px;
    margin: 0 auto;
    color: #0B1132;
}

.title_page {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.video-container {
    text-align: center;
    margin-bottom: 40px;
}

.section_videogames {
    margin-bottom: 80px;
}

.section_videogames h1, .section_videogames h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.section_videogames ul {
    list-style-type: disc;
    padding-left: 40px;
}

.section_videogames p {
    margin-bottom: 20px;
    text-align: justify;
}

.section img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

.section_learn {
    font-size: 1.2em;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 80px;
}






/*-----------------------------FOOTER------------------------*/

footer{
    background-color: #0B1132;
    width: 100%;
    height: auto;
    display: flex;
    bottom:0;
}

footer p{
    color:#D1D7D5;
    line-height: 2;
}

footer h2{
    color: #5C7FB7;
}

footer a{
    text-decoration: none;
    color: #D1D7D5;
}

.download-link:hover{
    color: #f18c00;
}


.contacts{
    margin: 40px;
}


.links{
    margin:40px;
}

/*-----------------------------BACK-TO-TOP------------------------*/

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #5C7FB7;
    border-radius: 20px;
    color: #D1D7D5;
    text-decoration: none;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
}

.back-to-top:hover{
    background-color: #f18c00;
}

.back-to-top:hover span{
    transform: translateY(-4px);
    transition: 0.5s;
    color: #D1D7D5;
}

/*-----------------------------MEDIA-NUOVE------------------------*/

@media(max-width:600px){



.links-container{
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top:0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: #0b1132e6;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
    transition: 1s ease-out;
}

nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px 5px;
    justify-content: flex-start;
}

.navbar h1{
    font-size: 24px;
}

.navbar h2{
    font-size: 16px;
}

footer{
    flex-direction: column;
    position:relative;
}


.contacts{
    margin-top: 80px;
}
.links{
    margin-bottom: 80px;
}

}
